* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button{
    cursor: pointer;
}
  
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// fonts

$display: 'Playfair Display', serif;
$mulish: 'Mulish', sans-serif;
$rubik: 'Rubik', sans-serif;

// colors

$orange: #FF7757;
$light-orange: #fff8f1;
$white: #FFFFFF;
$black: #000000;
$dark-blue: #172432;
$dark-gray: #767E86;
$yellow: rgb(255, 193, 7);

@mixin font($size, $weight, $color, $family){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $family;
}

@mixin flex($content: center, $items: center, $direction:row, $gap:0px){
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
    gap: $gap
}

@import 'header', 'hero', 'carrousel', 'popular', 'special-offer', 'blog', 'trip-planners';

.home{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}


h2.main-h2{
    @include flex($direction: column, $items: inherit, $content: flex-start, $gap: 12px);
    @include font(40px, 400, $dark-blue, $display);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    @media screen and (min-width: 768px){
        font-size: 54px;
        width: 80%;
    }

    @media screen and (min-width: 1152px){
        font-size: 64px;
        width: 60%;
    }

    @media screen and (min-width: 1440px){
        width: 70%;
    }
    @media screen and (min-width: 1840px){
        width: 60%;
        padding-left: 150px;
    }

    &.light{
        color: $white;
    }

    .line{
        width: 80%;
        height: 2px;
        border-radius: 2px;
        background-color: $orange;

        @media screen and (min-width: 768px) {
         width: 60%;   
         height: 3px;
        }
        @media screen and (min-width: 1440px) {
         width: 50%;   
        }
    }
}

p.main-paragraph{
    @include font(18px, 400, $dark-gray,  $rubik);
    @media screen and (min-width: 768px) {
        width: 85%;
        font-size: 20px;     
    }
    @media screen and (min-width: 1840px){
        width: 60%;
        padding-left: 150px;
    }
}

.arrows{
    @include flex($gap: 40px);
    align-self: center;
    img{
        cursor: pointer;
        width: 60px;
        &:active{
            transform: scale(0.99);
        }
    }
}


.see-more-button{
    @include font(24px, 400, $orange, $rubik);
    @include flex($gap: 10px);        
    background-color: transparent;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: gap 0.15s ease;
    margin-bottom: 10px;
    &:hover{
        .arrow{
            transition: transform 0.2s ease;
            transform: translateX(10px);
        }
    }
}